* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  flex-basis: 250px;
  background-color: rgb(224, 223, 223);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.card > button {
  margin-top: auto;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.btm.red {
  background-color: red;
}
.btm.blue {
  background-color: blue;
}
.btm.purple {
  background-color: purple;
}

.stars > img {
  width: 15px;
}
.price.red{
    color: red;
}
.price.blue{
    color: blue;
}
.price.purple{
    color:purple;
}
.price{
    text-align: center;
    font-weight: 900;
    margin-top: auto;
}
.card>h2{
    text-transform: uppercase;
}
.info>p{
    text-align: center;
    font-weight: 200;
  
}
.stars{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card:hover{
    transform: scale(1.03);
}
.card > img:hover{
    transform: scaleX(-1);
}